@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-BoldItalic.eot');
	src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
	url('../fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-BoldItalic.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-Italic.eot');
	src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
	url('../fonts/GothamPro/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-Italic.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
	url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-BlackItalic.eot');
	src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
	url('../fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-BlackItalic.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
	url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('../fonts/GothamPro/GothamProNarrow-Bold.eot');
	src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
	url('../fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamProNarrow-Bold.woff') format('woff'),
	url('../fonts/GothamPro/GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('../fonts/GothamPro/GothamProNarrow-Medium.eot');
	src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
	url('../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamProNarrow-Medium.woff') format('woff'),
	url('../fonts/GothamPro/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-LightItalic.eot');
	src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
	url('../fonts/GothamPro/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-LightItalic.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
	url('../fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
	url('../fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
	url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro/GothamPro-MediumItalic.eot');
	src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
	url('../fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro/GothamPro-MediumItalic.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Minion Pro Regular';
	src: url('../fonts/MinionPro/MinionPro-Regular.eot');
	src: url('../fonts/MinionPro/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MinionPro/MinionPro-Regular.woff') format('woff'),
	url('../fonts/MinionPro/MinionPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}