$c-black: #000000;
$c-white: #FFFFFF;
$c-red: #f2473f;

@mixin w480 {
	@media only screen and(min-width: 480px) {
		@content;
	}
}

@mixin w768 {
	@media only screen and(min-width: 768px) {
		@content;
	}
}

@mixin w992 {
	@media only screen and(min-width: 992px) {
		@content;
	}
}

@mixin w1200 {
	@media only screen and(min-width: 1200px) {
		@content;
	}
}