@import "core/variables";
@import "core/fonts";
@import "includes/animations";

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: "Gotham Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;

	//&.loaded {
	//	overflow: visible;
	//}
}

ul {
	list-style: none;
}

a, button {
	cursor: pointer;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	transition: all 300ms ease;
}

input, textarea, button, select, label {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__content {
		flex: 1 0 auto;
		padding-top: 68px;
	}

	&__footer {
		flex: 0 0 auto;
	}

	&.loaded {
		.header__wrapper {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			opacity: 1;
			z-index: 999;
		}
	}
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;

	@include w768 {
		width: 738px;
		padding: 0;
	}

	@include w992 {
		width: 962px;
	}

	@include w1200 {
		width: 1170px;
	}
}

.m {
	&-t {
		margin-top: 15px;

		@include w1200 {
			margin-top: 30px;
		}
	}

	&-b {
		margin-bottom: 15px;

		@include w1200 {
			margin-bottom: 30px;
		}
	}

	&-tb {
		margin-top: 15px;
		margin-bottom: 15px;

		@include w1200 {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&-lr {
		margin-left: 15px;
		margin-right: 15px;

		@include w1200 {
			margin-left: 30px;
			margin-right: 30px;
		}
	}

	&-full {
		margin: 15px;

		@include w1200 {
			margin: 30px;
		}
	}
}

.p {
	&-t {
		padding-top: 15px;

		@include w1200 {
			padding-top: 30px;
		}
	}

	&-b {
		padding-bottom: 15px;

		@include w1200 {
			padding-bottom: 30px;
		}
	}

	&-tb {
		padding-top: 15px;
		padding-bottom: 15px;

		@include w1200 {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&-lr {
		padding-left: 15px;
		padding-right: 15px;

		@include w1200 {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&-full {
		padding: 15px;

		@include w1200 {
			padding: 30px;
		}
	}
}

.breadcrumbs {
	padding-top: 45px;
	letter-spacing: 0;
	margin-bottom: 15px;

	@include w768 {
		padding-left: 100px;
	}

	a {
		color: #33ACD9;
	}
}

.tab-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include w480 {
		flex-direction: row;
	}

	a {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 10px;
		border-bottom: 1px solid transparent;
		color: $c-black;

		@include w480 {
			margin-bottom: 0;
			margin-right: 30px;
		}

		@include w768 {
			font-size: 20px;
		}

		@include w992 {
			font-size: 22px;
			margin-right: 45px;
		}

		@include w1200 {
			font-size: 26px;
			margin-right: 60px;
		}

		&.active {
			color: $c-red;
			border-color: $c-red;
		}

		&:last-child {
			margin-bottom: 0;
			margin-right: 0;
		}

		&:hover, &:focus {
			color: $c-red;
			border-color: $c-red;
		}
	}
}

.header__wrapper {
	height: 68px;
	opacity: 0;
	transition: opacity 500ms ease 800ms;
}

.header {
	&__top {
		background: $c-black;

		&-content {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 68px;
			position: relative;
			padding-left: 100px;

			@include w1200 {
				padding-left: 130px;
			}
		}
	}

	&__bottom {
		background: $c-white;
		position: relative;

		@include w480 {
			background: rgba($c-white, 0.7);
			position: static;
		}

		&-content {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@include w480 {
				padding-left: 83px;
			}
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__menu {
		display: none;

		@include w992 {
			display: flex;
			justify-content: space-between;
			flex: 1;
		}

		a {
			text-transform: uppercase;
			color: $c-white;
			font-weight: 700;

			@include w1200 {
				font-size: 16px;
			}

			&:hover, &:focus {
				color: #cccccc;
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;

		.mm__open {
			text-align: center;
			color: $c-white;
			font-size: 12px;
		}
	}

	&__cart {
		margin: 0 45px;
		position: relative;

		@include w1200 {
			margin: 0 60px;
		}

		span {
			display: inline-block;
			position: absolute;
			font-weight: 700;
			top: -4px;
			right: -12px;
			color: $c-red;
		}
	}

	&__search {
		border: 1px solid $c-black;
		background: $c-white;
		display: flex;
		height: 29px;
		padding: 0 10px;
		flex: 1;
		position: relative;
		margin-left: -1px;

		@include w480 {
			margin-left: 0;
			max-width: 320px;
		}

		&-results {
			position: absolute;
			top: 100%;
			left: -1px;
			right: -1px;
			background: $c-white;
			border: 1px solid $c-black;
			padding: 10px;

			a {
				display: block;
				font-size: 12px;
				color: $c-black;
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		input {
			border: none;
			width: 100%;
			font-family: Gotham Pro, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
		}

		button {
			border: none;
			background: none;
			margin-left: 10px;

			svg {
				width: 14px;
				margin-top: 1px;
			}
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 2px 0;

		a {
			display: inline-flex;
			margin-left: 10px;
		}
	}
}

.mm {
	position: fixed;
	top: 68px;
	left: -320px;
	bottom: 0;
	background: $c-white;
	width: 320px;
	z-index: 1;
	padding: 30px 15px 15px;
	overflow-y: scroll;
	transition: left 300ms ease;

	@include w480 {
		padding: 45px 20px 20px;
	}

	&.active {
		left: 0;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	&__menu {
		display: flex;
		align-items: flex-start;
		flex-direction: column;

		a {
			color: $c-black;
			margin-bottom: 10px;

			&:hover, &:focus {
				color: $c-red;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-section {
			font-weight: 700;
			font-size: 18px;

			@include w480 {
				font-size: 20px;
			}
		}

		&-group {
			padding-left: 30px;
			margin-bottom: 10px;

			&--title {
				font-size: 18px;
				border-bottom: 1px solid transparent;

				@include w480 {
					font-size: 20px;
				}

				&:hover, &:focus {
					color: $c-black !important;
					border-color: $c-black;
				}
			}

			&--wrapper {
				display: none;
			}

			&--list {
				margin-top: 10px;
				padding-left: 30px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				@include w480 {
					font-size: 16px;
				}
			}
		}
	}
}

.wrapper__footer {
	background: $c-black;
}

.footer {
	background: $c-black;
	padding: 15px 0;
	color: $c-white;
	font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

	@include w768 {
		display: flex;
		justify-content: space-between;
	}

	@include w1200 {
		padding: 30px 0;
	}

	&__left {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__right {
		margin-top: 30px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		@include w768 {
			margin-top: 0;
		}
	}

	&__socials {
		display: flex;
		align-items: center;

		@include w768 {
			margin-left: 30px;
		}

		@include w992 {
			margin-left: 100px;
		}

		@include w1200 {
			margin-left: 150px;
		}

		a {
			margin-left: 15px;

			@include w992 {
				margin-left: 30px;
			}

			@include w1200 {
				margin-left: 45px;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__contacts {
		@include w992 {
			font-size: 16px;
		}

		@include w1200 {
			font-size: 18px;
		}

		&-title {
			margin-bottom: 10px;
		}
	}

	&__map-marker {
		display: inline-block;
		margin-left: 15px;

		@include w992 {
			margin-left: 30px;
		}
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../images/preloader.jpg") 85% 50%;
	background-size: cover;
	z-index: 1000;

	@include w992 {
		background-position: 90% 50%;
	}

	@include w1200 {
		background-position: 100% 50%;
	}

	&.loaded {
		margin-top: -100vh;
		opacity: 0;
		transition: margin 500ms ease 1000ms, opacity 0s ease 1500ms;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;
	}

	&__content {
		position: relative;
		text-align: center;
		padding: 15px;
	}

	&__logo {
		img {
			max-width: 100px;

			@include w768 {
				max-width: none;
			}
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 22px;
		margin: 25px 0;

		@include w480 {
			font-size: 26px;
		}

		@include w768 {
			font-size: 28px;
			margin: 30px 0;
		}

		@include w992 {
			font-size: 42px;
			line-height: 1.4em;
			margin: 50px 0;
		}

		@include w1200 {
			font-size: 46px;
			line-height: 1.4em;
			margin: 70px 0 60px;
		}
	}

	&__slogan {
		text-transform: uppercase;
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		font-size: 16px;

		@include w768 {
			font-size: 18px;
		}
	}
}

.product-section {
	text-align: center;
	background-position: 50% 50%;
	background-size: cover;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&.pt {
		padding-top: 45px;
	}

	@include w480 {
		padding: 30px;
	}

	@include w768 {
		padding: 45px;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 20px;
		order: 0;

		@include w480 {
			font-size: 26px;
		}

		@include w768 {
			font-size: 30px;
		}

		@include w1200 {
			font-size: 36px;
		}
	}

	&__buttons {
		display: inline-flex;
		flex-direction: column;
		margin-top: 15px;
		order: 2;

		@include w768 {
			order: 1;
			flex-direction: row;
			margin-top: 30px;
		}

		&.center {
			display: flex;
			text-align: center;
			justify-content: center;
		}

		&.tac {
			text-align: center;
		}

		&.block {
			display: block;
		}

		a, button {
			display: inline-block;
			border: 2px solid;
			color: $c-black;
			border-radius: 30px;
			padding: 6px 18px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 10px;
			background: transparent;

			@include w768 {
				margin-bottom: 0;
				width: 205px;
				margin-right: 15px;
				padding: 8px 18px;
			}

			@include w1200 {
				padding: 10px 18px;
				font-size: 14px;
				width: 225px;
			}

			&.active {
				background: $c-red;
				color: $c-white;
				border-color: $c-red;
			}

			&.width-auto {
				width: auto;
			}

			&:last-child {
				margin-bottom: 0;
				margin-right: 0;
			}

			&:hover, &:focus {
				background: $c-red;
				color: $c-white;
				border-color: $c-red;
			}
		}
	}

	&__image {
		max-width: 100%;
		margin-top: 30px;
		order: 1;

		@include w768 {
			order: 2;
			margin-top: 45px;
		}

		img {
			width: 90%;
			max-width: 360px;
		}
	}
}

.gb {
	margin-top: 33px;
	width: 100%;
	height: 0;
	padding-bottom: 40%;
	background: url("../images/preloader-image.jpg");
	background-size: cover;
}

.pram-item {
	text-align: center;
	max-width: 738px;
	margin: 45px auto;

	@include w768 {
		margin: 60px auto;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;

		@include w480 {
			font-size: 22px;
		}

		@include w768 {
			font-size: 26px;
		}

		@include w992 {
			font-size: 30px;
		}

		@include w1200 {
			font-size: 36px;
		}

		a {
			color: $c-black;
		}
	}

	&__image {
		display: inline-block;
		position: relative;

		img {
			max-width: 100%;
		}
	}

	&__badge {
		position: absolute;
		z-index: 9;
		top: 15px;
		left: 15px;
		width: 80px;
		height: 80px;
		background: $c-red;
		color: $c-white;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		font-size: 10px;
		padding: 15px;
		border: 2px solid $c-white;
		text-transform: uppercase;

		//@media only screen and(min-width: 400px) {
		//	left: 22%;
		//}

		@include w480 {
			//top: 7%;
			//left: 21%;
			width: 100px;
			height: 100px;
			font-size: 12px;
		}

		&.green {
			background: #008E76;
		}

		&.gray {
			background: #626262;
		}
	}

	&__price {
		color: $c-red;
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;

		@include w768 {
			font-size: 24px;
		}

		@include w992 {
			font-size: 26px;
		}

		@include w1200 {
			font-size: 30px;
		}
	}

	&__details {
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;

		@include w480 {
			font-size: 16px;
		}

		@include w1200 {
			font-size: 18px;
			display: flex;
			max-width: none;
			width: 938px;
			margin-left: -100px;
			text-align: left;
		}

		&-left {
			margin-top: 15px;

			@include w1200 {
				margin-top: 30px;
				margin-right: 30px;
				flex: 1;
			}
		}

		&-center {
			@include w1200 {
				flex: 2;
			}
		}

		&-right {
			margin-top: 5px;

			@include w1200 {
				margin-top: 30px;
				margin-left: 30px;
				flex: 1;
			}
		}
	}
}

.thanks {
	text-align: center;

	&__slogan {
		text-transform: uppercase;
		color: $c-red;
		font-weight: 700;
		font-size: 22px;
		margin-bottom: 30px;

		@include w480 {
			font-size: 28px;
		}

		@include w768 {
			margin-top: 30px;
			font-size: 32px;
		}

		@include w1200 {
			margin-bottom: 45px;
			font-size: 38px;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 15px;

		@include w480 {
			font-size: 24px;
			margin-bottom: 20px;
		}

		@include w768 {
			font-size: 26px;
		}

		@include w1200 {
			font-size: 30px;
		}
	}

	&__subtitle {
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

		@include w480 {
			font-size: 16px;
		}
	}
}

.pagination {
	text-align: center;
	font-weight: 700;
	font-size: 18px;

	@include w480 {
		font-size: 22px;
	}

	@include w768 {
		font-size: 26px;
	}

	@include w1200 {
		font-size: 30px;
	}

	li {
		display: inline-flex;

		a, span {
			display: inline-block;
			margin: 0 3px;
			border-bottom: 1px solid transparent;

			@include w480 {
				margin: 0 5px;
			}

			@include w1200 {
				margin: 0 10px;
			}
		}

		a {
			color: $c-black;

			&:hover, &:focus {
				color: $c-red;
			}
		}

		span {
			color: lighten($c-black, 70%);
		}

		&.active {
			span {
				color: $c-red;
				border-color: $c-red;
			}
		}
	}
}

.section {
	&.gray-bg {
		background: #F4F4F4;
	}

	&__title, &__subtitle {
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
	}

	&__title {
		font-size: 18px;

		@include w480 {
			font-size: 22px;
		}

		@include w768 {
			font-size: 26px;
		}

		@include w992 {
			font-size: 30px;
		}

		@include w1200 {
			font-size: 36px;
		}

		&#pockit-all-city-fix {
			@include w768 {
				padding-left: 17%;
			}

			@include w992 {
				padding-left: 17%;
			}

			@include w1200 {
				padding-left: 20%;
			}

			@media only screen and(min-width: 1600px) {
				padding-left: 15%;
			}

			@media only screen and(min-width: 1800px) {
				padding-left: 10%;
			}
		}
	}

	&__subtitle {
		font-size: 16px;

		@include w480 {
			font-size: 18px;
		}

		@include w768 {
			font-size: 22px;
		}

		@include w992 {
			font-size: 26px;
		}

		@include w1200 {
			font-size: 30px;
		}
	}

	&__video {
		background: $c-black;

		&-content {
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			position: relative;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.seat-functions {
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	@include w768 {
		max-width: none;
	}

	&__controls {
		&-left, &-right {
			position: absolute;
			top: 151px;
			height: 30px;

			@include w480 {
				height: 40px;
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&-left {
			left: 5px;

			@media only screen and(min-width: 360px) {
				left: 10px;
			}

			@include w768 {
				left: 15px;
			}

			@include w992 {
				left: 5px;
			}

			@include w1200 {
				left: 15px;
			}

			@media only screen and(min-width: 1300px) {
				left: -45px;
			}
		}

		&-right {
			right: 5px;

			@media only screen and(min-width: 360px) {
				right: 10px;
			}

			@include w768 {
				right: 15px;
			}

			@include w992 {
				right: 5px;
			}

			@include w1200 {
				right: 15px;
			}

			@media only screen and(min-width: 1300px) {
				right: -45px;
			}
		}
	}

	#seat-functions-slider {
		display: flex;

		.lslide {
			border: 2px solid transparent;
			transition: border 150ms ease;

			&:hover {
				border-color: $c-red;
			}
		}
	}

	//.lSAction {
	//	& .lSNext, & .lSPrev {
	//		top: 151px;
	//		width: 23px;
	//
	//		img {
	//			width: 100%;
	//			height: 100%;
	//			object-fit: contain;
	//		}
	//	}
	//
	//	& .lSNext {
	//		right: -10px;
	//	}
	//}
}

.seat-function {
	padding: 15px;
	margin-bottom: 2px;

	@include w1200 {
		padding: 30px;
	}

	&__image {
		width: 256px;
		height: 303px;
		margin: 0 auto 15px;

		@include w1200 {
			width: 290px;
			height: 343px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		margin: 15px 0;

		@include w480 {
			font-size: 20px;
		}
	}

	&__description {
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

		@include w480 {
			font-size: 16px;
		}
	}
}

.seat {
	text-align: center;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;

	&__description {
		margin-top: 15px;
		font-size: 15px;
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		text-align: left;
	}

	&__image {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 95%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.accessories {
	padding: 0 15px;
	position: relative;
	max-width: 550px;
	margin: 30px auto;

	@include w1200 {
		margin: 60px auto;
	}

	.lSSlideWrapper {
		position: static;
	}

	.lSAction {
		& .lSPrev, & .lSNext {
			top: 37%;
			width: auto;

			@media only screen and(min-width: 600px) {
				height: auto;
			}

			img {
				max-height: 100%;
			}
		}

		& .lSPrev {
			left: -5px;

			@media only screen and(min-width: 600px) {
				left: -15px;
			}

			@include w992 {
				left: -30px;
			}

			@include w1200 {
				left: -45px;
			}
		}

		& .lSNext {
			right: -5px;

			@media only screen and(min-width: 600px) {
				right: -15px;
			}

			@include w992 {
				right: -30px;
			}

			@include w1200 {
				right: -45px;
			}
		}
	}
}

.accessory {
	text-align: center;
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 30px;
		color: $c-black;

		@include w480 {
			font-size: 22px;
		}

		@include w768 {
			font-size: 26px;
		}

		@include w992 {
			font-size: 30px;
		}

		@include w1200 {
			font-size: 36px;
		}
	}

	&__image {
		width: 100%;
		height: 0;
		padding-bottom: 70%;
		position: relative;
		margin-top: 15px;

		@include w992 {
			margin-top: 30px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__params {
		text-align: left;
		margin-left: auto;
		margin-right: auto;
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

		@include w480 {
			font-size: 16px;
		}

		@include w1200 {
			font-size: 18px;
		}

		td {
			padding-right: 15px;
			padding-bottom: 10px;

			@include w768 {
				padding-right: 30px;
			}

			&:last-child {
				padding-left: 0;
			}
		}
	}

	&__description {
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

		@include w480 {
			font-size: 16px;
		}

		@include w992 {
			font-size: 18px;
		}
	}
}

.advantages {
	padding: 15px 0;

	@include w992 {
		display: flex;
	}

	.advantage {
		@include w992 {
			max-width: none;
			width: calc(100% / 3);
			margin-right: 15px;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}

		@include w1200 {
			margin-right: 20px;
		}
	}
}

.advantage {
	max-width: 290px;
	margin-left: auto;
	margin-right: auto;
	background: $c-white;
	padding: 0 15px 15px;
	margin-bottom: 30px;
	text-align: center;
	box-shadow: 0 0 25px 0 darken(#F4F4F4, 3%);

	@include w480 {
		max-width: 380px;
		padding: 0 30px 30px;
	}

	@include w992 {
		padding: 15px 30px 45px;
	}

	&__image {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		margin: 15px 0;

		@include w480 {
			font-size: 22px;
		}
	}

	&__description {
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

		@include w480 {
			font-size: 16px;
		}
	}

	&__arrow {
		display: block;
		margin-top: 15px;

		@include w1200 {
			margin-top: 30px;
		}

		img {
			max-height: 18px;

			@include w992 {
				max-height: 22px;
			}

			@include w1200 {
				max-height: none;
			}
		}
	}
}

.cc {
	&__content {
		text-align: center;
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;

		@include w480 {
			max-width: 450px;
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 15px;

		@include w768 {
			margin-top: 30px;
			font-size: 20px;
		}

		@include w992 {
			margin-bottom: 30px;
			font-size: 24px;
		}

		@include w1200 {
			font-size: 26px;
		}
	}

	&__images {
		height: 0;
		width: 100%;
		padding-bottom: 100%;
		position: relative;

		@media only screen and(min-width: 400px) {
			width: 370px;
			height: 370px;
			padding-bottom: 0;
			margin-left: auto;
			margin-right: auto;
		}

		&.bigger {
			@include w480 {
				width: 450px;
				height: 450px;
			}
		}
	}

	&__image {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__plane {
		position: absolute;
		display: inline-block;
		top: 30%;
		left: 0;
		z-index: 9;
		width: 40%;

		@include w1200 {
			width: auto;
			left: -50px;
		}

		img {
			max-width: 100%;
		}
	}

	&__body {
		text-align: left;
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		margin-bottom: 15px;

		@include w480 {
			font-size: 16px;
			margin-bottom: 20px;
		}

		@include w992 {
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__colors {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 15px;

		@include w480 {
			margin-top: 20px;
		}

		@include w992 {
			margin-top: 30px;
		}

		@media only screen and(min-width: 600px) {
			flex-direction: row;
		}

		&-title {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 15px;

			@media only screen and(min-width: 600px) {
				margin-bottom: 0;
				margin-right: 30px;
			}

			@include w992 {
				font-size: 22px;
			}

			@include w1200 {
				font-size: 26px;
			}
		}

		&-list {
			display: flex;

			a {
				display: inline-block;
				border: 18px solid;
				margin-right: 10px;

				@include w992 {
					border-width: 22px;
					margin-right: 15px;
				}

				@include w1200 {
					border-width: 26px;
					margin-right: 30px;
				}

				&.red {
					border-color: #e32f44 #e32f44 #970320 #970320;
				}

				&.green {
					border-color: #008c75 #008c75 #005759 #005759;
				}

				&.blue {
					border-color: #516680 #516680 #1b1a35 #1b1a35;
				}

				&.gray {
					border-color: #4c494d #4c494d #130f15 #130f15;
				}

				&.black {
					border-color: #242428 #242428 #131417 #131417;
				}

				&.brown {
					border-color: #ab9f82 #ab9f82 #474530 #474530;
				}

				&.khaki {
					border-color: #657F4B #657F4B #657F4B #657F4B;
				}

				&.pink {
					border-color: #934b71 #934b71 #934b71 #934b71;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.video-section {
	margin-top: 33px;
	margin-bottom: 75px;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	text-align: center;

	@include w1200 {
		padding-bottom: 40%;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.product-section__buttons {
		position: absolute;
		z-index: 99;
		bottom: -50px;
		left: 0;
		right: 0;
		display: block;

		@include w768 {
			bottom: 50px;
		}
	}
}

.videos-container {
	@include w992 {
		display: flex;
	}

	&__videos {
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;

		@include w992 {
			width: 310.67px;
			margin-left: 0;
			margin-right: 0;
		}

		@include w1200 {
			width: 376.67px;
		}

		&.small {
			@include w992 {
				width: 260px;
				margin-right: 15px;
				padding-top: 75px;
			}

			@include w1200 {
				width: 320px;
				margin-right: 30px;
			}
		}

		&-item {
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			position: relative;
			margin-bottom: 15px;

			@include w992 {
				margin-bottom: 30px;
			}

			&:last-child {
				margin-bottom: 0;

				@include w992 {
					margin-bottom: 30px;
				}
			}

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__content {
		@include w992 {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

.pockit {
	padding: 30px 0;
	text-align: center;

	@include w992 {
		padding: 0;
		margin-bottom: 30px;
		width: 100%;
	}

	@include w1200 {
		margin-bottom: 45px;
	}

	&.pockit-2 {
		#pockit-text-1 {
			@media only screen and(min-width: 600px) {
				top: 0;
				left: 70px;
			}
		}
		#pockit-text-2 {
			@media only screen and(min-width: 600px) {
				top: 160px;
				right: 0;

				&:before {
					width: 80px;
					top: -50px;
					right: 73%;
					transform: rotate(72deg);
				}

				&:after {
					top: -89px;
					left: -14px;
				}
			}
		}
		#pockit-text-3 {
			@media only screen and(min-width: 600px) {
				top: 76px;
				left: 0;

				&:before {
					width: 70px;
					top: 0;
					left: 105%;
					transform: rotate(-15deg);
				}

				&:after {
					top: -11px;
					right: -81px;
				}
			}
		}
		#pockit-text-4 {
			@media only screen and(min-width: 600px) {
				top: 245px;
				right: 1px;
			}
		}
		#pockit-text-5 {
			@media only screen and(min-width: 600px) {
				top: 168px;
				left: 32px;
			}
		}
		#pockit-text-6 {
			@media only screen and(min-width: 600px) {
				top: 322px;
				right: 30px;
			}
		}
		#pockit-text-7 {
			@media only screen and(min-width: 600px) {
				top: 365px;
				left: 0;
			}
		}
		#pockit-text-8 {
			@media only screen and(min-width: 600px) {
				bottom: 30px;
				right: 50px;

				&:before {
					top: -59px;
					right: 44%;
					transform: rotate(50deg);
				}

				&:after {
					top: -109px;
					left: 38px;
				}
			}
		}
	}

	&.pockit-3 {
		#pockit-text-1 {
			@media only screen and(min-width: 600px) {
				top: 0;
				left: 70px;
			}
		}
		#pockit-text-2 {
			@media only screen and(min-width: 600px) {
				top: 137px;
				right: 0;

				&:before {
					width: 80px;
					top: -50px;
					right: 63%;
					transform: rotate(72deg);
				}

				&:after {
					top: -89px;
					left: 0;
				}
			}
		}
		#pockit-text-3 {
			@media only screen and(min-width: 600px) {
				top: 68px;
				left: 0;

				&:before {
					width: 70px;
					top: 0;
					left: 105%;
					transform: rotate(-15deg);
				}

				&:after {
					top: -11px;
					right: -81px;
				}
			}
		}
		#pockit-text-4 {
			@media only screen and(min-width: 600px) {
				top: 218px;
				right: 1px;
			}
		}
		#pockit-text-5 {
			@media only screen and(min-width: 600px) {
				top: 170px;
				left: 57px;
			}
		}
		#pockit-text-6 {
			@media only screen and(min-width: 600px) {
				top: 309px;
				right: 17px;
			}
		}
		#pockit-text-7 {
			@media only screen and(min-width: 600px) {
				top: 372px;
				left: 12px;
			}
		}
		#pockit-text-8 {
			@media only screen and(min-width: 600px) {
				bottom: 30px;
				right: 35px;

				&:before {
					width: 140px;
					top: -61px;
					right: 40%;
					transform: rotate(50deg);
				}

				&:after {
					top: -118px;
					left: 38px;
				}
			}
		}
	}

	&.pockit-air {
		#pockit-text-1 {
			@media only screen and(min-width: 600px) {
				//top: 0;
				left: 120px;
			}
		}
		#pockit-text-2 {
			@media only screen and(min-width: 600px) {
				//top: 180px;
				right: 0;

				&:before {
					width: 57px;
					top: 45px;
					right: 91%;
					transform: rotate(105deg);
				}

				&:after {
					top: 70px;
					left: -25px;
				}
			}
		}
		#pockit-text-3 {
			@media only screen and(min-width: 600px) {
				left: 15px;

				&:before {
					width: 70px;
					top: 0;
					left: 105%;
					transform: rotate(-15deg);
				}

				&:after {
					top: -11px;
					right: -81px;
				}
			}
		}
		#pockit-text-4 {
			@media only screen and(min-width: 600px) {
				top: 245px;
				right: 0;

				&:before {
					width: 95px;
					top: 97px;
					right: 98%;
					transform: rotate(-47deg);
				}

				&:after {
					top: 128px;
					left: -76px;
				}
			}
		}
		#pockit-text-5 {
			@media only screen and(min-width: 600px) {
				top: 168px;
				left: 32px;

				&:before {
					width: 100px;
					top: 45px;
					left: 100%;
					transform: rotate(20deg);
				}

				&:after {
					top: 59px;
					right: -98px;
				}
			}
		}
		#pockit-text-6 {
			@media only screen and(min-width: 600px) {
				top: 380px;

				&:before {
					width: 110px;
					top: 28px;
					right: 104%;
					transform: rotate(166deg);
				}

				&:after {
					top: 39px;
					left: -116px;
				}
			}
		}
		#pockit-text-7 {
			@media only screen and(min-width: 600px) {
				top: 365px;
				left: 10px;

				&:after {
					right: -25px;
				}
			}
		}
		#pockit-text-8 {
			@media only screen and(min-width: 600px) {
				bottom: 30px;
				right: 50px;

				&:before {
					width: 90px;
					top: -25px;
					right: 101%;
					transform: rotate(40deg);
				}

				&:after {
					top: -54px;
					left: -82px;
				}
			}
		}
	}

	&.dd {
		@include w992 {
			flex: 1;
		}

		.pockit {
			&__text {
				@media only screen and(min-width: 600px) {
					left: 0;
					right: 0;
					text-align: center;
					height: 75px;
					display: flex;
				}

				@include w768 {
					display: block;
					height: auto;
					left: auto;
					right: auto;
					text-align: left;
				}

				&:before {
					@media only screen and(min-width: 600px) {
						display: none;
					}

					@include w768 {
						display: block;
					}
				}

				&:after {
					@media only screen and(min-width: 600px) {
						display: none;
					}

					@include w768 {
						display: block;
					}
				}

				&-arrows {
					display: block;
					position: absolute;
					top: -10px;
					height: 1px;
					width: 100%;
					background: $c-black;
					font-size: 8px;
					max-width: 225px;

					&:before {
						position: absolute;
						top: -4px;
						left: -2px;
						content: '◀';
					}

					&:after {
						position: absolute;
						top: -4px;
						right: -2px;
						content: '▶';
					}
				}
			}

			&__image {
				@media only screen and(min-width: 600px) {
					padding-bottom: 75px;
				}

				@include w768 {
					width: auto;
					padding: 75px 0;
				}

				img {
					@include w992 {
						width: 310px;
					}

					@include w1200 {
						width: auto;
					}
				}
			}
		}
	}

	&.qbit {
		@include w992 {
			padding-left: 15px;
			width: 100%;
		}

		.pockit {
			&__text {
				@media only screen and(min-width: 600px) {
					left: 0;
					right: 0;
					text-align: center;
					height: 75px;
					display: flex;
				}

				@include w768 {
					display: block;
					height: auto;
					left: auto;
					right: auto;
					text-align: left;
				}

				&:before {
					@media only screen and(min-width: 600px) {
						display: none;
					}

					@include w768 {
						display: block;
					}
				}

				&:after {
					@media only screen and(min-width: 600px) {
						display: none;
					}

					@include w768 {
						display: block;
					}
				}

				&-arrows {
					display: block;
					position: absolute;
					top: -10px;
					height: 1px;
					width: 100%;
					background: $c-black;
					font-size: 8px;
					max-width: 225px;

					&:before {
						position: absolute;
						top: -4px;
						left: -2px;
						content: '◀';
					}

					&:after {
						position: absolute;
						top: -4px;
						right: -2px;
						content: '▶';
					}
				}
			}

			&__image {
				@media only screen and(min-width: 600px) {
					padding-bottom: 75px;
				}

				@include w768 {
					width: auto;
					padding: 75px 0;
				}

				@include w1200 {
					width: 636.34px;
				}

				img {
					@include w992 {
						width: 310px;
					}

					//@include w1200 {
					//	width: auto;
					//}
				}
			}
		}
	}

	&__image {
		width: 100%;
		position: relative;
		padding-bottom: 75px;

		@media only screen and(min-width: 600px) {
			width: 570px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 30px;
		}

		img {
			max-width: 100%;
		}
	}

	&__text {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		height: 75px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media only screen and(min-width: 600px) {
			display: block;
			height: auto;
			left: auto;
			right: auto;
			text-align: left;
		}

		&:before {
			display: none;
			content: '';
			height: 1px;
			background: $c-black;
			position: absolute;

			@media only screen and(min-width: 600px) {
				display: block;
			}
		}

		&:after {
			display: none;
			content: '';
			width: 5px;
			height: 5px;
			background: $c-white;
			position: absolute;
			border-radius: 50%;
			border: 1px solid $c-black;

			@media only screen and(min-width: 600px) {
				display: inline-block;
			}
		}
	}

	&__subtext {
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		text-transform: none;
		font-weight: normal;

		@media only screen and(min-width: 600px) {
			display: block;
		}
	}

	&__bottom-text {
		margin-top: 15px;
		font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

		@media only screen and(min-width: 600px) {
			font-size: 16px;
		}
	}

	#pockit {
		&-text-1 {
			animation: text-1 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-1-desktop 16s backwards;
				position: absolute;
				top: 34px;
				left: 80px;

				&:before {
					width: 100px;
					top: 32px;
					left: 100%;
					transform: rotate(25deg);
				}

				&:after {
					top: 50px;
					right: -96px;
				}
			}
		}

		&-text-2 {
			animation: text-2 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-2-desktop 16s backwards;
				position: absolute;
				top: 14px;
				right: 51px;

				&:before {
					width: 100px;
					top: 49px;
					right: 100%;
					transform: rotate(-25deg);
				}

				&:after {
					top: 68px;
					left: -97px;
				}
			}
		}

		&-text-3 {
			animation: text-3 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-3-desktop 16s backwards;
				position: absolute;
				top: 96px;
				left: 0;

				&:before {
					width: 70px;
					top: 41px;
					left: 87%;
					transform: rotate(25deg);
				}

				&:after {
					top: 54px;
					right: -43px;
				}
			}
		}

		&-text-4 {
			animation: text-4 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-4-desktop 16s backwards;
				position: absolute;
				top: 275px;
				right: 1px;

				&:before {
					width: 35px;
					top: -13px;
					right: 98%;
					transform: rotate(50deg);
				}

				&:after {
					top: -28px;
					left: -28px;
				}
			}
		}

		&-text-5 {
			animation: text-5 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-5-desktop 16s backwards;
				position: absolute;
				top: 233px;
				left: 0;

				&:before {
					width: 70px;
					top: 41px;
					left: 87%;
					transform: rotate(25deg);
				}

				&:after {
					top: 54px;
					right: -43px;
				}
			}
		}

		&-text-6 {
			animation: text-6 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-6-desktop 16s backwards;
				position: absolute;
				top: 342px;
				right: 25px;

				&:before {
					width: 35px;
					top: -13px;
					right: 98%;
					transform: rotate(50deg);
				}

				&:after {
					top: -28px;
					left: -28px;
				}
			}
		}

		&-text-7 {
			animation: text-7 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-7-desktop 16s backwards;
				position: absolute;
				top: 360px;
				left: 0;

				&:before {
					width: 70px;
					top: 72px;
					left: 64%;
					transform: rotate(50deg);
				}

				&:after {
					top: 96px;
					right: -7px;
				}
			}
		}

		&-text-8 {
			animation: text-8 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: text-8-desktop 16s backwards;
				position: absolute;
				top: 550px;
				right: 0;

				&:before {
					width: 130px;
					top: -46px;
					right: 54%;
					transform: rotate(40deg);
				}

				&:after {
					top: -90px;
					left: 3px;
				}
			}
		}
	}

	#qb {
		&-text-1 {
			animation: qb-text-1 30s infinite;

			@include w768 {
				animation: qb-text-1-desktop 25s backwards;
				position: absolute;
				top: 15px;
				right: 45px;

				&:before {
					width: 135px;
					top: 103px;
					left: -62%;
					transform: rotate(-57deg);
				}

				&:after {
					top: 157px;
					right: 138%;
				}
			}

			@include w992 {
				right: 95px;

				&:before {
					width: 135px;
					top: 103px;
					left: -24%;
					transform: rotate(-73deg);
				}

				&:after {
					top: 164px;
					right: 88%;
				}
			}
		}

		&-text-2 {
			animation: qb-text-2 30s infinite;

			@include w768 {
				animation: qb-text-2-desktop 25s backwards;
				position: absolute;
				top: 140px;
				right: 0;

				&:before {
					width: 70px;
					top: 40px;
					left: -45%;
					transform: rotate(-32deg);
				}

				&:after {
					top: 56px;
					right: 140%;
				}
			}

			@include w992 {
				top: 90px;

				&:before {
					width: 80px;
					top: 58px;
					left: -27%;
					transform: rotate(-57deg);
				}

				&:after {
					top: 92px;
					right: 116%;
				}
			}
		}

		&-text-3 {
			animation: qb-text-3 30s infinite;

			@include w768 {
				animation: qb-text-3-desktop 25s backwards;
				position: absolute;
				top: 210px;
				right: 0;

				&:before {
					width: 140px;
					top: 32px;
					left: -85%;
					transform: rotate(-15deg);
				}

				&:after {
					top: 48px;
					right: 181%;
				}
			}

			@include w992 {
				top: 187px;
			}
		}

		&-text-4 {
			animation: qb-text-4 30s infinite;

			@include w768 {
				animation: qb-text-4-desktop 25s backwards;
				position: absolute;
				top: 290px;
				right: 0;

				&:before {
					width: 120px;
					top: 17px;
					left: -68%;
					transform: rotate(-3deg);
				}

				&:after {
					top: 18px;
					right: 166%;
				}
			}

			@include w992 {
				top: 273px;

				&:before {
					width: 100px;
					top: 17px;
					left: -57%;
					transform: rotate(-3deg);
				}

				&:after {
					right: 156%;
				}
			}
		}

		&-text-5 {
			animation: qb-text-5 30s infinite;

			@include w768 {
				animation: qb-text-5-desktop 25s backwards;
				position: absolute;
				top: 380px;
				right: 0;

				&:before {
					width: 90px;
					top: -17px;
					left: -42%;
					transform: rotate(48deg);
				}

				&:after {
					top: -49px;
					right: 132%
				}
			}

			@include w992 {
				top: 366px;

				&:before {
					width: 60px;
					top: -7px;
					left: -28%;
					transform: rotate(55deg);
				}

				&:after {
					top: -33px;
					right: 121%
				}
			}
		}

		&-text-6 {
			animation: qb-text-6 30s infinite;

			@include w768 {
				animation: qb-text-6-desktop 25s backwards;
				position: absolute;
				bottom: 200px;
				right: 80px;

				&:before {
					width: 52px;
					top: 22px;
					left: -75%;
					transform: rotate(-25deg);
				}

				&:after {
					top: 28px;
					right: 160%;
				}
			}

			@include w992 {
				bottom: 165px;
				right: 45px;

				&:after {
					top: 30px;
					right: 167%;
				}
			}
		}

		&-text-7 {
			animation: qb-text-7 30s infinite;

			@include w768 {
				animation: qb-text-7-desktop 25s backwards;
				position: absolute;
				bottom: 80px;
				right: 0;

				&:before {
					width: 120px;
					top: -27px;
					left: -60%;
					transform: rotate(36deg);
				}

				&:after {
					top: -64px;
					right: 153%;
				}
			}

			@include w992 {
				&:before {
					width: 93px;
					top: -20px;
					left: -42%;
					transform: rotate(36deg);
				}

				&:after {
					top: -51px;
					right: 137%;
				}
			}
		}

		&-text-8 {
			animation: qb-text-8 30s infinite;

			@include w768 {
				animation: qb-text-8-desktop 25s backwards;
				position: absolute;
				bottom: 20px;
				left: 240px;

				&:before, &:after {
					display: none;
				}
			}

			@include w992 {
				left: 190px;
			}
		}

		&-text-9 {
			animation: qb-text-9 30s infinite;

			@include w768 {
				animation: qb-text-9-desktop 25s backwards;
				position: absolute;
				bottom: 85px;
				left: 0;

				&:before {
					width: 100px;
					top: 4px;
					left: 105%;
					transform: rotate(-21deg);
				}

				&:after {
					top: -15px;
					right: -105px;
				}
			}

			@include w992 {
				&:before {
					width: 90px;
				}

				&:after {
					top: -14px;
					right: -97px;
				}
			}
		}

		&-text-10 {
			animation: qb-text-10 30s infinite;

			@include w768 {
				animation: qb-text-10-desktop 25s backwards;
				position: absolute;
				bottom: 185px;
				left: 0;

				&:before {
					width: 100px;
					top: 32px;
					left: 100%;
					transform: rotate(25deg);
				}

				&:after {
					top: 50px;
					right: -96px;
				}
			}

			@include w992 {
				bottom: 205px;

				&:before {
					width: 62px;
					top: 76px;
					left: 66%;
					transform: rotate(32deg);
				}

				&:after {
					top: 89px;
					right: 3px;
				}
			}
		}

		&-text-11 {
			animation: qb-text-11 30s infinite;

			@include w768 {
				animation: qb-text-11-desktop 25s backwards;
				position: absolute;
				bottom: 300px;
				left: 0;

				&:before {
					width: 133px;
					top: 67px;
					left: 97%;
					transform: rotate(32deg);
				}

				&:after {
					top: 99px;
					right: -120px;
				}
			}

			@include w992 {
				bottom: 310px;

				&:before {
					width: 160px;
					top: 80px;
					left: 74%;
					transform: rotate(41deg);
				}

				&:after {
					top: 130px;
					right: -104px;
				}
			}
		}

		&-text-12 {
			animation: qb-text-12 30s infinite;

			@include w768 {
				animation: qb-text-12-desktop 25s backwards;
				position: absolute;
				top: 225px;
				left: 0;

				&:before {
					width: 172px;
					top: 76px;
					left: 91%;
					transform: rotate(25deg);
				}

				&:after {
					top: 109px;
					right: -146px;
				}
			}

			@include w992 {
				top: 165px;

				&:before {
					width: 180px;
					top: 92px;
					left: 74%;
					transform: rotate(40deg);
				}

				&:after {
					top: 147px;
					right: -108px;
				}
			}
		}

		&-text-13 {
			animation: qb-text-13 30s infinite;

			@include w768 {
				animation: qb-text-13-desktop 25s backwards;
				position: absolute;
				top: 100px;
				left: 17px;

				&:before {
					width: 100px;
					top: 32px;
					left: 100%;
					transform: rotate(25deg);
				}

				&:after {
					top: 50px;
					right: -96px;
				}
			}

			@include w992 {
				top: 65px;

				&:before {
					top: 50px;
					left: 85%;
				}

				&:after {
					top: 69px;
					right: -66px;
				}
			}
		}

		&-text-14 {
			animation: qb-text-14 30s infinite;

			@include w768 {
				animation: qb-text-14-desktop 25s backwards;
				position: absolute;
				top: 15px;
				left: 190px;

				&:before {
					width: 130px;
					top: 56px;
					left: 94%;
					transform: rotate(39deg);
				}

				&:after {
					top: 94px;
					right: -111px;
				}
			}

			@include w992 {
				&:before {
					width: 90px;
					top: 58px;
					left: 66%;
					transform: rotate(43deg);
				}

				&:after {
					top: 87px;
					right: -44px;
				}
			}
		}
	}

	#dd {
		&-text-1 {
			animation: dd-text-1 30s infinite;

			@include w768 {
				animation: dd-text-1-desktop 20s backwards;
				position: absolute;
				top: 5px;
				left: 270px;

				&:before {
					width: 80px;
					top: 48px;
					left: -4%;
					transform: rotate(40deg);
				}

				&:after {
					top: 71px;
					right: 32px;
				}
			}

			@include w1200 {
				&:before {
					width: 55px;
					top: 50px;
					left: 40%;
					transform: rotate(70deg);
				}

				&:after {
					top: 72px;
					right: 25px;
				}
			}
		}
		&-text-2 {
			animation: dd-text-2 30s infinite;

			@include w768 {
				animation: dd-text-2-desktop 20s backwards;
				position: absolute;
				top: 35px;
				right: 20px;

				&:before {
					width: 100px;
					top: 60px;
					left: -48%;
					transform: rotate(-21deg);
				}

				&:after {
					top: 74px;
					right: 301px;
				}
			}

			@include w1200 {
				&:before {
					width: 120px;
					top: 60px;
					left: -61%;
				}

				&:after {
					top: 79px;
					right: 330px;
				}
			}
		}
		&-text-3 {
			animation: dd-text-3 30s infinite;

			@include w768 {
				animation: dd-text-3-desktop 20s backwards;
				position: absolute;
				top: 228px;
				right: 0;

				&:before {
					width: 40px;
					top: 40px;
					left: -20%;
					transform: rotate(32deg);
				}

				&:after {
					top: 28px;
					right: 275px;
				}
			}

			@include w992 {
				top: 200px;
			}

			@include w1200 {
				&:before {
					width: 70px;
					top: 32px;
					left: -34%;
					transform: rotate(-7deg);
				}

				&:after {
					top: 33px;
					right: 311px;
				}
			}
		}
		&-text-4 {
			animation: dd-text-4 30s infinite;

			@include w768 {
				animation: dd-text-4-desktop 20s backwards;
				position: absolute;
				top: 361px;
				right: 11px;

				&:before {
					width: 89px;
					top: 0;
					left: -38%;
					transform: rotate(58deg);
				}

				&:after {
					top: -38px;
					right: 126%;
				}
			}

			@include w992 {
				top: 306px;
			}

			@include w1200 {
				top: 350px;

				&:before {
					width: 128px;
					top: -5px;
					left: -62%;
					transform: rotate(41deg);
				}

				&:after {
					top: -49px;
					right: 153%;
				}
			}
		}
		&-text-5 {
			animation: dd-text-5 30s infinite;

			@include w768 {
				animation: dd-text-5-desktop 20s backwards;
				position: absolute;
				bottom: 165px;
				right: 22px;

				&:before {
					width: 108px;
					top: -9px;
					left: -84%;
					transform: rotate(28deg);
				}

				&:after {
					top: -35px;
					right: 176%;
				}
			}

			@include w992 {
				bottom: 142px;
			}

			@include w1200 {
				bottom: 170px;

				&:before {
					width: 136px;
					top: -11px;
					left: -111%;
					transform: rotate(17deg);
				}

				&:after {
					top: -33px;
					right: 207%;
				}
			}
		}
		&-text-6 {
			animation: dd-text-6 30s infinite;

			@include w768 {
				animation: dd-text-6-desktop 20s backwards;
				position: absolute;
				bottom: 30px;
				right: 0;

				&:before {
					width: 132px;
					top: -62px;
					left: -43%;
					transform: rotate(60deg);
				}

				&:after {
					top: -120px;
					right: 252px;
				}
			}

			@include w1200 {
				&:before {
					width: 142px;
					top: -62px;
					left: -60%;
					transform: rotate(53deg);
				}

				&:after {
					right: 292px;
				}
			}
		}
		&-text-7 {
			animation: dd-text-7 30s infinite;

			@include w768 {
				animation: dd-text-7-desktop 20s backwards;
				position: absolute;
				bottom: 30px;
				right: 255px;

				&:before, &:after {
					display: none;
				}
			}

			@include w992 {
				right: 230px;
			}

			@include w1200 {
				right: 295px;
			}
		}
		&-text-8 {
			animation: dd-text-8 30s infinite;

			@include w768 {
				animation: dd-text-8-desktop 20s backwards;
				position: absolute;
				bottom: 71px;
				left: 0;

				&:before {
					width: 105px;
					top: -39px;
					right: -30%;
					transform: rotate(114deg);
				}

				&:after {
					top: -88px;
					right: -41px;
				}
			}

			@include w992 {
				bottom: 55px;
			}

			@include w1200 {
				left: 31px;
			}
		}
		&-text-9 {
			animation: dd-text-9 30s infinite;

			@include w768 {
				animation: dd-text-9-desktop 20s backwards;
				position: absolute;
				bottom: 260px;
				left: 0;

				&:before {
					width: 121px;
					top: 112px;
					right: -2%;
					transform: rotate(50deg);
				}

				&:after {
					top: 154px;
					left: 185px;
				}
			}

			@include w992 {
				bottom: 230px;

				&:before {
					width: 117px;
					top: 98px;
					right: -6%;
					transform: rotate(52deg);
				}

				&:after {
					top: 142px;
					left: 193px;
				}
			}

			@include w1200 {
				bottom: 200px;

				&:before {
					width: 97px;
					top: 73px;
					right: -14%;
					transform: rotate(27deg);
				}

				&:after {
					top: 92px;
					left: 226px;
				}
			}
		}
		&-text-10 {
			animation: dd-text-10 30s infinite;

			@include w768 {
				animation: dd-text-10-desktop 20s backwards;
				position: absolute;
				bottom: 385px;
				left: 0;

				&:before {
					width: 122px;
					top: 95px;
					right: -43%;
					transform: rotate(47deg);
				}

				&:after {
					top: 137px;
					left: 233px;
				}
			}

			@include w992 {
				bottom: 345px;
			}

			@include w1200 {
				&:before {
					width: 122px;
					top: 70px;
					right: -57%;
					transform: rotate(20deg);
				}

				&:after {
					top: 88px;
					left: 274px;
				}
			}
		}
		&-text-11 {
			animation: dd-text-11 30s infinite;

			@include w768 {
				animation: dd-text-11-desktop 20s backwards;
				position: absolute;
				top: 165px;
				left: 0;

				&:before {
					width: 170px;
					top: 56px;
					right: -11%;
					transform: rotate(16deg);
				}

				&:after {
					top: 77px;
					left: 262px;
				}
			}

			@include w992 {
				top: 132px;
			}

			@include w1200 {
				top: 180px;

				&:before {
					width: 200px;
					top: 49px;
					right: -26%;
					transform: rotate(10deg);
				}

				&:after {
					top: 64px;
					left: 300px;
				}
			}
		}
		&-text-12 {
			animation: dd-text-12 30s infinite;

			@include w768 {
				animation: dd-text-12-desktop 20s backwards;
				position: absolute;
				top: 35px;
				left: 30px;

				&:before {
					width: 101px;
					top: 71px;
					right: -53%;
					transform: rotate(49deg);
				}

				&:after {
					top: 106px;
					left: 235px;
				}
			}

			@include w992 {
				top: 20px;
			}

			@include w1200 {
				&:before {
					width: 145px;
					top: 77px;
					right: -79%;
					transform: rotate(40deg);
				}

				&:after {
					top: 119px;
					left: 278px;
				}
			}
		}
	}

	#qbit-all-terrain {
		&-text-1 {
			animation: dd-text-1 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-1-desktop 25s backwards;
				position: absolute;
				top: 0;
				right: 0;

				&:before {
					width: 65px;
					top: 39px;
					left: -47%;
					transform: rotate(-34deg);
				}

				&:after {
					top: 55px;
					right: 141%;
				}
			}
		}

		&-text-2 {
			animation: dd-text-2 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-2-desktop 25s backwards;
				position: absolute;
				top: 130px;
				right: 0;

				&:before {
					width: 55px;
					top: 20px;
					left: -48%;
					transform: rotate(-17deg);
				}

				&:after {
					top: 26px;
					right: 145%;
				}
			}
		}

		&-text-3 {
			animation: dd-text-3 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-3-desktop 25s backwards;
				position: absolute;
				top: 215px;
				right: 0;

				&:before {
					width: 70px;
					top: 5px;
					right: 108%;
					transform: rotate(11deg);
				}

				&:after {
					top: -4px;
					left: -84px;
				}
			}
		}

		&-text-4 {
			animation: dd-text-4 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-4-desktop 25s backwards;
				position: absolute;
				top: 273px;
				right: 63px;

				&:before {
					width: 67px;
					top: -2px;
					left: -77%;
					transform: rotate(30deg);
				}

				&:after {
					top: -21px;
					right: 170%;
				}
			}
		}

		&-text-5 {
			animation: dd-text-5 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-5-desktop 25s backwards;
				position: absolute;
				top: 345px;
				right: 0;

				&:before {
					width: 115px;
					top: -25px;
					left: -55%;
					transform: rotate(48deg);
				}

				&:after {
					top: -71px;
					right: 144%
				}
			}
		}

		&-text-6 {
			animation: dd-text-6 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-6-desktop 25s backwards;
				position: absolute;
				bottom: 15px;
				right: 50px;

				&:before {
					width: 165px;
					top: -90px;
					left: -70px;
					transform: rotate(71deg);
				}

				&:after {
					top: -169px;
					right: 106%;
				}
			}
		}

		&-text-7 {
			animation: dd-text-7 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-7-desktop 25s backwards;
				position: absolute;
				bottom: 20px;
				left: 15px;

				&:before {
					width: 95px;
					top: -24px;
					right: -46%;
					transform: rotate(-57deg);
				}

				&:after {
					top: -64px;
					right: -35%;
				}
			}
		}

		&-text-8 {
			animation: dd-text-8 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-8-desktop 25s backwards;
				position: absolute;
				bottom: 200px;
				left: 0;

				&:before {
					width: 80px;
					top: 77px;
					left: 58%;
					transform: rotate(53deg);
				}

				&:after {
					top: 103px;
					right: -8px;
				}
			}
		}

		&-text-9 {
			animation: dd-text-9 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-9-desktop 25s backwards;
				position: absolute;
				top: 250px;
				left: 0;

				&:before {
					width: 110px;
					top: 85px;
					left: 65%;
					transform: rotate(53deg);
				}

				&:after {
					top: 121px;
					right: -30px;
				}
			}
		}

		&-text-10 {
			animation: dd-text-10 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-10-desktop 25s backwards;
				position: absolute;
				top: 160px;
				left: 0;

				&:before {
					width: 133px;
					top: 90px;
					left: 81%;
					transform: rotate(58deg);
				}

				&:after {
					top: 145px;
					right: -76px;
				}
			}
		}

		&-text-11 {
			animation: dd-text-11 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-11-desktop 25s backwards;
				position: absolute;
				top: 60px;
				left: 0;

				&:before {
					width: 70px;
					top: 40px;
					left: 97%;
					transform: rotate(14deg);
				}

				&:after {
					top: 47px;
					right: -67px;
				}
			}
		}

		&-text-12 {
			animation: dd-text-12 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-12-desktop 25s backwards;
				position: absolute;
				top: 0;
				left: 130px;

				&:before {
					width: 75px;
					top: 40px;
					left: 97%;
					transform: rotate(32deg);
				}

				&:after {
					top: 59px;
					right: -71px;
				}
			}
		}
	}

	#qbit-all-city {
		&-text-1 {
			animation: animation11-text-1 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-1-desktop 25s backwards;
				position: absolute;
				top: 26px;
				right: 29px;

				&:before {
					width: 65px;
					top: 39px;
					left: -47%;
					transform: rotate(-34deg);
				}

				&:after {
					top: 55px;
					right: 141%;
				}
			}
		}

		&-text-2 {
			animation: animation11-text-2 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-2-desktop 25s backwards;
				position: absolute;
				top: 112px;
				right: 33px;

				&:before {
					width: 55px;
					top: 20px;
					left: -48%;
					transform: rotate(-17deg);
				}

				&:after {
					top: 26px;
					right: 145%;
				}
			}
		}

		&-text-3 {
			animation: animation11-text-3 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-3-desktop 25s backwards;
				position: absolute;
				top: 200px;
				right: 38px;

				&:before {
					width: 70px;
					top: 5px;
					right: 108%;
					transform: rotate(11deg);
				}

				&:after {
					top: -4px;
					left: -84px;
				}
			}
		}

		&-text-4 {
			animation: animation11-text-4 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-4-desktop 25s backwards;
				position: absolute;
				top: 260px;
				right: 63px;

				&:before {
					width: 85px;
					top: 7px;
					left: -77%;
					transform: rotate(30deg);
				}

				&:after {
					top: -15px;
					right: 170%;
				}
			}
		}

		&-text-5 {
			animation: animation11-text-5 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-5-desktop 25s backwards;
				position: absolute;
				top: 345px;
				right: 16px;

				&:before {
					width: 115px;
					top: -25px;
					left: -55%;
					transform: rotate(48deg);
				}

				&:after {
					top: -71px;
					right: 144%
				}
			}
		}

		&-text-6 {
			animation: animation11-text-6 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-6-desktop 25s backwards;
				position: absolute;
				bottom: 80px;
				right: 75px;

				&:before {
					width: 165px;
					top: -90px;
					left: -70px;
					transform: rotate(71deg);
				}

				&:after {
					top: -169px;
					right: 106%;
				}
			}
		}

		&-text-7 {
			animation: animation11-text-7 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-7-desktop 25s backwards;
				position: absolute;
				bottom: 90px;
				left: 0;

				&:before {
					width: 49px;
					top: 38px;
					right: -10%;
					transform: rotate(-28deg);
				}

				&:after {
					top: 25px;
					right: -10%;
				}
			}
		}

		&-text-8 {
			animation: animation11-text-8 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-8-desktop 25s backwards;
				position: absolute;
				bottom: 264px;
				left: 0;

				&:before {
					width: 80px;
					top: 77px;
					left: 58%;
					transform: rotate(53deg);
				}

				&:after {
					top: 106px;
					right: 3px;
				}
			}
		}

		&-text-9 {
			animation: animation11-text-9 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-9-desktop 25s backwards;
				position: absolute;
				top: 205px;
				left: 22px;

				&:before {
					width: 110px;
					top: 85px;
					left: 65%;
					transform: rotate(53deg);
				}

				&:after {
					top: 126px;
					right: -38px;
				}
			}
		}

		&-text-10 {
			animation: animation11-text-10 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-10-desktop 25s backwards;
				position: absolute;
				top: 95px;
				left: 0;

				&:before {
					width: 78px;
					top: 28px;
					left: 81%;
					transform: rotate(17deg);
				}

				&:after {
					top: 38px;
					right: -48px;
				}
			}
		}

		&-text-11 {
			animation: animation11-text-11 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-11-desktop 25s backwards;
				position: absolute;
				top: 30px;
				left: 108px;

				&:before {
					width: 70px;
					top: 40px;
					left: 97%;
					transform: rotate(30deg);
				}

				&:after {
					top: 57px;
					right: -67px;
				}
			}
		}
	}

	#qbit-all-city-fashion {
		&-text-1 {
			animation: dd-text-1 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-1-desktop 25s backwards;
				position: absolute;
				top: 26px;
				right: 29px;

				&:before {
					width: 65px;
					top: 39px;
					left: -47%;
					transform: rotate(-34deg);
				}

				&:after {
					top: 55px;
					right: 141%;
				}
			}
		}

		&-text-2 {
			animation: dd-text-2 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-2-desktop 25s backwards;
				position: absolute;
				top: 112px;
				right: 20px;

				&:before {
					width: 85px;
					top: 30px;
					left: -70%;
					transform: rotate(-17deg);
				}

				&:after {
					top: 40px;
					right: 166%;
				}
			}
		}

		&-text-3 {
			animation: dd-text-3 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-3-desktop 25s backwards;
				position: absolute;
				top: 200px;
				right: 38px;

				&:before {
					width: 70px;
					top: 5px;
					right: 108%;
					transform: rotate(11deg);
				}

				&:after {
					top: -4px;
					left: -84px;
				}
			}
		}

		&-text-4 {
			animation: dd-text-4 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-4-desktop 25s backwards;
				position: absolute;
				top: 260px;
				right: 63px;

				&:before {
					width: 85px;
					top: 7px;
					left: -77%;
					transform: rotate(30deg);
				}

				&:after {
					top: -15px;
					right: 170%;
				}
			}
		}

		&-text-5 {
			animation: dd-text-5 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-5-desktop 25s backwards;
				position: absolute;
				top: 345px;
				right: 16px;

				&:before {
					width: 115px;
					top: -25px;
					left: -55%;
					transform: rotate(48deg);
				}

				&:after {
					top: -71px;
					right: 144%
				}
			}
		}

		&-text-6 {
			animation: dd-text-6 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-6-desktop 25s backwards;
				position: absolute;
				bottom: 80px;
				right: 75px;

				&:before {
					width: 165px;
					top: -90px;
					left: -70px;
					transform: rotate(71deg);
				}

				&:after {
					top: -169px;
					right: 106%;
				}
			}
		}

		&-text-7 {
			animation: dd-text-7 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-7-desktop 25s backwards;
				position: absolute;
				bottom: 90px;
				left: 0;

				&:before {
					width: 49px;
					top: 38px;
					right: -10%;
					transform: rotate(-28deg);
				}

				&:after {
					top: 25px;
					right: -10%;
				}
			}
		}

		&-text-8 {
			animation: dd-text-8 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-8-desktop 25s backwards;
				position: absolute;
				bottom: 264px;
				left: 0;

				&:before {
					width: 80px;
					top: 77px;
					left: 58%;
					transform: rotate(53deg);
				}

				&:after {
					top: 106px;
					right: 3px;
				}
			}
		}

		&-text-9 {
			animation: dd-text-9 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-9-desktop 25s backwards;
				position: absolute;
				top: 205px;
				left: 22px;

				&:before {
					width: 110px;
					top: 85px;
					left: 65%;
					transform: rotate(53deg);
				}

				&:after {
					top: 126px;
					right: -38px;
				}
			}
		}

		&-text-10 {
			animation: dd-text-10 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-10-desktop 25s backwards;
				position: absolute;
				top: 95px;
				left: 0;

				&:before {
					width: 78px;
					top: 28px;
					left: 81%;
					transform: rotate(17deg);
				}

				&:after {
					top: 38px;
					right: -48px;
				}
			}
		}

		&-text-11 {
			animation: dd-text-11 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-11-desktop 25s backwards;
				position: absolute;
				top: 30px;
				left: 108px;

				&:before {
					width: 70px;
					top: 40px;
					left: 97%;
					transform: rotate(30deg);
				}

				&:after {
					top: 57px;
					right: -67px;
				}
			}
		}

		&-text-12 {
			animation: dd-text-12 30s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-12-desktop 25s backwards;
				position: absolute;
				bottom: 30px;
				left: 30px;

				&:before {
					width: 60px;
					top: -28px;
					left: 96%;
					transform: rotate(-53deg);
				}

				&:after {
					top: -54px;
					right: -43px;
				}
			}
		}
	}

	#pockit-all-city {
		&-text-1 {
			animation: animation9-text-1 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-1-desktop 20s backwards;
				position: absolute;
				top: 50px;
				left: 80px;

				&:before {
					width: 100px;
					top: 32px;
					left: 100%;
					transform: rotate(25deg);
				}

				&:after {
					top: 50px;
					right: -96px;
				}
			}
		}

		&-text-2 {
			animation: animation9-text-2 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-2-desktop 20s backwards;
				position: absolute;
				top: 0;
				right: 75px;

				&:before {
					width: 100px;
					top: 49px;
					right: 100%;
					transform: rotate(-25deg);
				}

				&:after {
					top: 68px;
					left: -97px;
				}
			}
		}

		&-text-3 {
			animation: animation9-text-3 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-3-desktop 20s backwards;
				position: absolute;
				top: 115px;
				left: 10px;

				&:before {
					width: 70px;
					top: 41px;
					left: 87%;
					transform: rotate(25deg);
				}

				&:after {
					top: 54px;
					right: -47px;
				}
			}
		}

		&-text-4 {
			animation: animation9-text-4 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-4-desktop 20s backwards;
				position: absolute;
				top: 340px;
				right: 0;

				&:before {
					width: 50px;
					top: 29px;
					right: 106%;
					transform: rotate(-24deg);
				}

				&:after {
					top: 36px;
					left: -60px;
				}
			}
		}

		&-text-5 {
			animation: animation9-text-5 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-5-desktop 20s backwards;
				position: absolute;
				top: 233px;
				left: 0;

				&:before {
					width: 110px;
					top: 15px;
					left: 111%;
					transform: rotate(-15deg);
				}

				&:after {
					top: -1px;
					right: -126px;
				}
			}
		}

		&-text-6 {
			animation: animation9-text-6 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-6-desktop 20s backwards;
				position: absolute;
				bottom: 45px;
				left: 0;

				&:before {
					width: 90px;
					top: -45px;
					right: -35%;
					transform: rotate(-45deg);
				}

				&:after {
					top: -79px;
					left: 229px;
				}
			}
		}

		&-text-7 {
			animation: animation9-text-7 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-7-desktop 20s backwards;
				position: absolute;
				top: 390px;
				left: 0;

				&:before {
					width: 70px;
					top: -27px;
					left: 85%;
					transform: rotate(-33deg);
				}

				&:after {
					top: -47px;
					right: -46px;
				}
			}
		}

		&-text-8 {
			animation: animation9-text-8 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-8-desktop 20s backwards;
				position: absolute;
				bottom: 35px;
				right: 15px;

				&:before {
					width: 100px;
					top: -10px;
					right: 102%;
					transform: rotate(28deg);
				}

				&:after {
					top: -37px;
					left: -102px;
				}
			}
		}

		&-text-9 {
			animation: animation9-text-9 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-9-desktop 20s backwards;
				position: absolute;
				top: 185px;
				right: 0;

				&:before {
					width: 75px;
					top: 57px;
					right: 104%;
					transform: rotate(-38deg);
				}

				&:after {
					top: 78px;
					left: -75px;
				}
			}
		}
	}

	#pockit-all-terrain {
		&-text-1 {
			animation: animation10-text-1 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-1-desktop 20s backwards;
				position: absolute;
				top: 72px;
				left: 83px;

				&:before {
					width: 100px;
					top: 32px;
					left: 100%;
					transform: rotate(25deg);
				}

				&:after {
					top: 50px;
					right: -96px;
				}
			}
		}

		&-text-2 {
			animation: animation10-text-2 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-2-desktop 20s backwards;
				position: absolute;
				top: 27px;
				right: 60px;

				&:before {
					width: 100px;
					top: 49px;
					right: 100%;
					transform: rotate(-25deg);
				}

				&:after {
					top: 68px;
					left: -97px;
				}
			}
		}

		&-text-3 {
			animation: animation10-text-3 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-3-desktop 20s backwards;
				position: absolute;
				top: 115px;
				left: 30px;

				&:before {
					width: 70px;
					top: 41px;
					left: 87%;
					transform: rotate(25deg);
				}

				&:after {
					top: 54px;
					right: -47px;
				}
			}
		}

		&-text-4 {
			animation: animation10-text-4 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-4-desktop 20s backwards;
				position: absolute;
				top: 357px;
				right: 2px;

				&:before {
					width: 50px;
					top: 29px;
					right: 106%;
					transform: rotate(-24deg);
				}

				&:after {
					top: 36px;
					left: -60px;
				}
			}
		}

		&-text-5 {
			animation: animation10-text-5 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-5-desktop 20s backwards;
				position: absolute;
				top: 242px;
				left: 28px;

				&:before {
					width: 110px;
					top: 15px;
					left: 111%;
					transform: rotate(-15deg);
				}

				&:after {
					top: -1px;
					right: -126px;
				}
			}
		}

		&-text-6 {
			animation: animation10-text-6 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-6-desktop 20s backwards;
				position: absolute;
				bottom: 45px;
				left: 35px;

				&:before {
					width: 90px;
					top: -45px;
					right: -35%;
					transform: rotate(-45deg);
				}

				&:after {
					top: -79px;
					left: 229px;
				}
			}
		}

		&-text-7 {
			animation: animation10-text-7 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-7-desktop 20s backwards;
				position: absolute;
				top: 385px;
				left: 15px;

				&:before {
					width: 70px;
					top: 55px;
					left: 93%;
					transform: rotate(56deg);
				}

				&:after {
					top: 82px;
					right: -50px;
				}
			}
		}

		&-text-8 {
			animation: animation10-text-8 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-8-desktop 20s backwards;
				position: absolute;
				bottom: 35px;
				right: 15px;

				&:before {
					width: 100px;
					top: -10px;
					right: 102%;
					transform: rotate(28deg);
				}

				&:after {
					top: -37px;
					left: -102px;
				}
			}
		}

		&-text-9 {
			animation: animation10-text-9 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-9-desktop 20s backwards;
				position: absolute;
				top: 145px;
				right: 0;

				&:before {
					width: 75px;
					top: 57px;
					right: 104%;
					transform: rotate(-38deg);
				}

				&:after {
					top: 78px;
					left: -75px;
				}
			}
		}

		&-text-10 {
			animation: animation10-text-10 20s infinite;

			@media only screen and(min-width: 600px) {
				animation: qb-text-10-desktop 20s backwards;
				position: absolute;
				top: 220px;
				right: 0;

				&:before {
					width: 40px;
					top: 35px;
					right: 103%;
					transform: rotate(-38deg);
				}

				&:after {
					top: 47px;
					left: -44px;
				}
			}
		}
	}
}

.popup {
	padding: 25px 15px 15px;
	position: relative;
	background: #F4F4F4;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	min-width: 290px;

	@include w480 {
		width: 100%;
	}

	@include w768 {
		width: 708px;
	}

	@include w992 {
		width: 962px;
		padding: 25px 15px;
	}

	@include w1200 {
		padding: 30px;
	}

	&-container, &-wrapper {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 15px;
	}

	&-container {
		background: rgba($c-black, 0.5);
		display: none;
	}

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__close {
		display: inline-block;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;

		@include w768 {
			top: 15px;
			right: 15px;
		}

		@include w992 {
			top: 20px;
			right: 20px;
		}

		@include w1200 {
			top: 30px;
			right: 30px;
		}

		img {
			width: 14px;

			@include w768 {
				width: 18px;
			}

			@include w992 {
				width: 20px;
			}

			@include w1200 {
				width: 24px;
			}
		}
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 15px;

		@include w480 {
			font-size: 20px;
		}

		@include w768 {
			font-size: 22px;
		}

		@include w992 {
			font-size: 30px;
			margin-bottom: 30px;
		}

		@include w1200 {
			font-size: 36px;
		}
	}

	&__content {
		overflow-y: scroll;
		margin-right: -15px;
		padding-right: 15px;

		@include w1200 {
			margin-right: -30px;
			padding-right: 30px;
		}
	}

	&-cart {
		&__item {
			margin-bottom: 15px;

			@include w480 {
				margin-bottom: 30px;
			}

			@include w992 {
				margin-bottom: 45px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&-title {
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;

				@include w480 {
					font-size: 16px;
				}

				@include w768 {
					font-size: 18px;
				}

				@include w992 {
					font-size: 22px;
				}

				@include w1200 {
					font-size: 26px;
				}
			}

			&-content {
				margin-top: 5px;
				display: flex;
				align-items: center;
				justify-content: center;

				@include w480 {
					margin-top: 10px;
				}

				@include w992 {
					margin-top: 20px;
				}
			}

			&-controls {
				&--top {
					display: flex;
				}

				&--bottom {
					margin-top: 10px;
					display: flex;

					@include w992 {
						margin-top: 15px;
					}

					span {
						display: none;
					}

					select {
						background: transparent;
						width: 100%;
						padding: 2px 0;
						border: 1px solid $c-black;
						font-family: Gotham Pro, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
						font-size: 12px;

						@include w480 {
							font-size: 16px;
							padding: 5px 8px;
						}

						@include w992 {
							font-size: 20px;
							padding: 5px 8px;
						}
					}
				}
			}

			&-image {
				margin-right: 30px;

				img {
					max-width: 50px;

					@include w480 {
						max-width: 100px;
					}

					@include w992 {
						max-width: 140px;
						margin-right: 60px;
					}
				}
			}

			&-counter {
				margin-right: 30px;
				font-weight: 700;

				@include w480 {
					font-size: 22px;
				}

				@include w992 {
					font-size: 28px;
					margin-right: 60px;
				}

				button {
					background: none;
					border: none;
					font-weight: 700;

					@include w480 {
						font-size: 22px;
					}

					@include w992 {
						font-size: 28px;
					}
				}

				span {
					display: inline-block;
					margin: 0 5px;
				}
			}

			&-price {
				font-weight: 700;

				@include w480 {
					font-size: 22px;
				}

				@include w992 {
					font-size: 28px;
				}
			}
		}
	}

	&-related {
		padding: 0 20px;
		position: relative;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;

		@include w480 {
			max-width: 570px;
		}

		@include w768 {
			max-width: none;
		}

		&__item {
			text-align: center;
			background: $c-white;
			padding: 15px;
			width: 100%;
			max-width: 240px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-shadow: 0 0 15px 0 darken(#F4F4F4, 3%);

			@include w992 {
				padding: 25px 15px;
			}

			&-title, &-price {
				font-weight: 700;
				font-size: 16px;
			}

			&-title {
				margin-bottom: 15px;
				text-transform: uppercase;

				@include w992 {
					font-size: 18px;
				}
			}

			&-image {
				width: 100%;
				height: 0;
				padding-bottom: 50%;
				position: relative;

				@include w992 {
					padding-bottom: 60%;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&-price {
				font-weight: 700;
				font-size: 16px;

				@include w992 {
					font-size: 18px;
				}
			}
		}

		#popup-related {
			display: flex;
		}

		.lslide {
			display: flex;
		}

		.lSSlideWrapper {
			position: static;
		}

		.lSAction {
			& .lSPrev, & .lSNext {
				width: auto;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			& .lSPrev {
				left: 0;
			}

			& .lSNext {
				right: 0;
			}
		}
	}
}

.order {
	font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;

	&__section {
		margin-top: 30px;

		@include w768 {
			margin-top: 45px;
		}

		&-title {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 16px;
			margin-bottom: 15px;
			font-family: "Gotham Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

			@include w768 {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}
	}

	&__input, &__checkbox, &__textarea, &__select {
		display: block;
	}

	&__input {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		&:before {
			content: '*';
			color: $c-red;
			font-weight: 700;
			font-size: 22px;
			margin-right: 10px;
			margin-bottom: -4px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		input {
			width: 100%;
			display: inline-block;
			border: 1px solid $c-black;
			padding: 8px 16px;
			font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

			@include w768 {
				font-size: 16px;
			}
		}
	}

	&__error {
		color: $c-red;

		@include w768 {
			font-size: 16px;
		}
	}

	&__checkbox {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		input {
			display: none;
		}

		input:checked + &-content {
			span {
				&:first-child {
					&:before {
						opacity: 1;
					}
				}

				&:last-child {
					text-decoration: underline;
				}
			}
		}

		&-content {
			display: flex;
			align-items: center;

			span {
				&:first-child {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 15px;
					height: 15px;
					margin-right: 10px;
					border: 1px solid $c-black;

					@include w768 {
						width: 20px;
						height: 20px;
						margin-right: 15px;
					}

					&:before {
						opacity: 0;
						content: '✓';
						margin-left: 2px;
						transition: all 150ms ease;

						@include w768 {
							font-size: 16px;
						}
					}
				}

				&:last-child {
					flex: 1;

					@include w768 {
						font-size: 16px;
					}
				}
			}
		}

		a {
			color: #3C9CD8;
		}
	}

	&__select {
		margin-bottom: 15px;
		padding-left: 25px;

		@include w768 {
			padding-left: 35px;
		}

		select {
			width: 100%;
			display: inline-block;
			border: 1px solid $c-black;
			padding: 8px 16px;
			font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		}
	}

	&__textarea {
		margin-top: 30px;
		padding-left: 25px;

		@include w768 {
			padding-left: 35px;
		}

		span {
			display: block;
			margin-bottom: 10px;

			@include w768 {
				font-size: 16px;
			}
		}

		textarea {
			width: 100%;
			height: 150px;
			resize: none;
			border: 1px solid $c-black;
			padding: 8px 16px;
			font-family: "Minion Pro Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		}
	}

	.product-section__buttons {
		padding-left: 25px;

		@include w768 {
			padding-left: 35px;
		}
	}
}

.loader {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		z-index: 998;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($c-black, 0.1);
		border-radius: 4px;
	}

	&:after {
		content: '';
		position: absolute;
		z-index: 999;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 5px solid;
		box-sizing: border-box;
		border-color: $c-red $c-black $c-white #008C75;
		animation: spinner 1.6s infinite ease-in-out;

		@include w768 {
			margin-left: -20px;
			margin-top: -20px;
			width: 40px;
			height: 40px;
		}
	}

	@keyframes spinner {
		0% {
			transform: rotate(0);
		}
		25% {
			transform: rotate(180deg);
		}
		50% {
			transform: rotate(45deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	&-circle {
		&:before {
			border-radius: 50%;
		}
	}

	&-without-bg {
		&:before {
			content: none;
		}
	}
}

.qbit-section {
	padding-top: 33px;

	@include w768 {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
	}

	@include w992 {
		padding-bottom: 45%;
	}

	@include w1200 {
		padding-bottom: 40%;
	}

	&__image {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		background: url("../images/qbit/bg1.jpg") no-repeat 50%;
		background-size: cover;

		@include w768 {
			position: absolute;
			top: 33px;
			left: 0;
		}

		@include w992 {
			padding-bottom: 45%;
		}

		@include w1200 {
			padding-bottom: 40%;
		}
	}

	&__content {
		margin-bottom: 45px;

		@include w768 {
			position: absolute;
			top: 33px;
			left: 0;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: 0;
		}
	}

	&__top {
		.breadcrumbs {
			padding-top: 15px;
		}
	}

	&__bottom {
		text-align: center;

		@include w768 {
			padding-bottom: 15px;
			background: linear-gradient(to top, #E8EBF1, transparent);
		}

		@include w992 {
			padding-bottom: 30px;
		}

		@include w1200 {
			padding-bottom: 45px;
		}
	}
}

.subsection-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin: 15px 0;

	@media only screen and(min-width: 600px) {
		margin: 30px 0;
	}

	@include w992 {
		font-size: 22px;
	}

	@include w1200 {
		font-size: 26px;
	}
}

.recommended-items {
	margin: 0 15px;
	position: relative;

	@media only screen and(min-width: 700px) {
		width: 670px;
		margin-left: auto;
		margin-right: auto;
	}

	.lSSlideWrapper {
		position: static;
	}

	.lSAction {
		& .lSPrev, & .lSNext {
			width: auto;

			@media only screen and(min-width: 600px) {
				height: auto;
			}

			img {
				max-height: 100%;
			}
		}

		& .lSPrev {
			left: -5px;

			@media only screen and(min-width: 600px) {
				//left: -15px;
			}

			@include w992 {
				left: -30px;
			}

			@include w1200 {
				left: -45px;
			}
		}

		& .lSNext {
			right: -5px;

			@media only screen and(min-width: 600px) {
				//right: -15px;
			}

			@include w992 {
				right: -30px;
			}

			@include w1200 {
				right: -45px;
			}
		}
	}
}