//Animation for 8 elements
//---
//--
//-

@keyframes text-1 {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	12.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-2 {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	12.5% {
		opacity: 1;
	}
	22.5% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-3 {
	0% {
		opacity: 0;
	}
	22.5% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	37.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-4 {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	37.5% {
		opacity: 1;
	}
	47.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-5 {
	0% {
		opacity: 0;
	}
	47.5% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	62.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-6 {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	62.5% {
		opacity: 1;
	}
	72.5% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-7 {
	0% {
		opacity: 0;
	}
	72.5% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-8 {
	0% {
		opacity: 0;
	}
	85% {
		opacity: 0;
	}
	87.5% {
		opacity: 1;
	}
	97.5% {
		opacity: 1;
	}
	99.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes text-1-desktop {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-2-desktop {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	12.5% {
		opacity: 1;
	}
	22.5% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-3-desktop {
	0% {
		opacity: 0;
	}
	22.5% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-4-desktop {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	37.5% {
		opacity: 1;
	}
	47.5% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-5-desktop {
	0% {
		opacity: 0;
	}
	47.5% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-6-desktop {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	62.5% {
		opacity: 1;
	}
	72.5% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-7-desktop {
	0% {
		opacity: 0;
	}
	72.5% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes text-8-desktop {
	0% {
		opacity: 0;
	}
	85% {
		opacity: 0;
	}
	87.5% {
		opacity: 1;
	}
	97.5% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

//Animation for 9 elements
//---
//--
//-

@keyframes animation9-text-1 {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	11% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-2 {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	11% {
		opacity: 1;
	}
	21% {
		opacity: 1;
	}
	22% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-3 {
	0% {
		opacity: 0;
	}
	21% {
		opacity: 0;
	}
	22% {
		opacity: 1;
	}
	32% {
		opacity: 1;
	}
	33% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-4 {
	0% {
		opacity: 0;
	}
	32% {
		opacity: 0;
	}
	33% {
		opacity: 1;
	}
	43% {
		opacity: 1;
	}
	44% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-5 {
	0% {
		opacity: 0;
	}
	43% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	54% {
		opacity: 1;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-6 {
	0% {
		opacity: 0;
	}
	54% {
		opacity: 0;
	}
	55% {
		opacity: 1;
	}
	65% {
		opacity: 1;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-7 {
	0% {
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	66% {
		opacity: 1;
	}
	76% {
		opacity: 1;
	}
	77% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-8 {
	0% {
		opacity: 0;
	}
	76% {
		opacity: 0;
	}
	77% {
		opacity: 1;
	}
	87% {
		opacity: 1;
	}
	88% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation9-text-9 {
	0% {
		opacity: 0;
	}
	88% {
		opacity: 0;
	}
	89% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

//Animation for 10 elements
//---
//--
//-

@keyframes animation10-text-1 {
	0% {
		opacity: 1;
	}
	9% {
		opacity: 1;
	}
	10% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animation10-text-2 {
	0% {
		opacity: 0;
	}
	9% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	19% {
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-3 {
	0% {
		opacity: 0;
	}
	19% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	29% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-4 {
	0% {
		opacity: 0;
	}
	29% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	39% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-5 {
	0% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	49% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-6 {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	59% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-7 {
	0% {
		opacity: 0;
	}
	59% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	69% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-8 {
	0% {
		opacity: 0;
	}
	69% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	79% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-9 {
	0% {
		opacity: 0;
	}
	79% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	89% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation10-text-10 {
	0% {
		opacity: 0;
	}
	89% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

//Animation for 11 elements
//---
//--
//-

@keyframes animation11-text-1 {
	0% {
		opacity: 1;
	}
	8% {
		opacity: 1;
	}
	9% {
		opacity: 0;
	}
	98% {
		opacity: 0;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animation11-text-2 {
	0% {
		opacity: 0;
	}
	8% {
		opacity: 0;
	}
	9% {
		opacity: 1;
	}
	17% {
		opacity: 1;
	}
	18% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-3 {
	0% {
		opacity: 0;
	}
	17% {
		opacity: 0;
	}
	18% {
		opacity: 1;
	}
	26% {
		opacity: 1;
	}
	27% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-4 {
	0% {
		opacity: 0;
	}
	26% {
		opacity: 0;
	}
	27% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	36% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-5 {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	36% {
		opacity: 1;
	}
	44% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-6 {
	0% {
		opacity: 0;
	}
	44% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	53% {
		opacity: 1;
	}
	54% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-7 {
	0% {
		opacity: 0;
	}
	53% {
		opacity: 0;
	}
	54% {
		opacity: 1;
	}
	62% {
		opacity: 1;
	}
	63% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-8 {
	0% {
		opacity: 0;
	}
	62% {
		opacity: 0;
	}
	63% {
		opacity: 1;
	}
	71% {
		opacity: 1;
	}
	72% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-9 {
	0% {
		opacity: 0;
	}
	71% {
		opacity: 0;
	}
	72% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	81% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-10 {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	81% {
		opacity: 1;
	}
	89% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes animation11-text-11 {
	0% {
		opacity: 0;
	}
	89% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

//Animation for 12 elements
//---
//--
//-

@keyframes dd-text-1 {
	0% {
		opacity: 0;
	}
	1.333% {
		opacity: 1;
	}
	8.333% {
		opacity: 1;
	}
	10.666% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-2 {
	0% {
		opacity: 0;
	}
	8.333% {
		opacity: 0;
	}
	10.666% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	18.999% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-3 {
	0% {
		opacity: 0;
	}
	16.666% {
		opacity: 0;
	}
	18.999% {
		opacity: 1;
	}
	24.999% {
		opacity: 1;
	}
	27.333% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-4 {
	0% {
		opacity: 0;
	}
	24.999% {
		opacity: 0;
	}
	27.333% {
		opacity: 1;
	}
	33.333% {
		opacity: 1;
	}
	35.666% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-5 {
	0% {
		opacity: 0;
	}
	33.333% {
		opacity: 0;
	}
	35.666% {
		opacity: 1;
	}
	41.666% {
		opacity: 1;
	}
	43.999% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-6 {
	0% {
		opacity: 0;
	}
	41.666% {
		opacity: 0;
	}
	43.999% {
		opacity: 1;
	}
	49.999% {
		opacity: 1;
	}
	52.333% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-7 {
	0% {
		opacity: 0;
	}
	49.999% {
		opacity: 0;
	}
	52.333% {
		opacity: 1;
	}
	58.333% {
		opacity: 1;
	}
	60.666% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-8 {
	0% {
		opacity: 0;
	}
	58.333% {
		opacity: 0;
	}
	60.666% {
		opacity: 1;
	}
	66.666% {
		opacity: 1;
	}
	68.999% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-9 {
	0% {
		opacity: 0;
	}
	66.666% {
		opacity: 0;
	}
	68.999% {
		opacity: 1;
	}
	74.999% {
		opacity: 1;
	}
	77.333% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-10 {
	0% {
		opacity: 0;
	}
	74.999% {
		opacity: 0;
	}
	77.333% {
		opacity: 1;
	}
	83.333% {
		opacity: 1;
	}
	85.666% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-11 {
	0% {
		opacity: 0;
	}
	83.333% {
		opacity: 0;
	}
	85.666% {
		opacity: 1;
	}
	91.666% {
		opacity: 1;
	}
	93.999% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-12 {
	0% {
		opacity: 0;
	}
	91.666% {
		opacity: 0;
	}
	93.999% {
		opacity: 1;
	}
	99.666% {
		opacity: 1;
	}
	99.999% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes dd-text-1-desktop {
	0% {
		opacity: 0;
	}
	1.333% {
		opacity: 1;
	}
	8.333% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-2-desktop {
	0% {
		opacity: 0;
	}
	8.333% {
		opacity: 0;
	}
	10.666% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-3-desktop {
	0% {
		opacity: 0;
	}
	16.666% {
		opacity: 0;
	}
	18.999% {
		opacity: 1;
	}
	24.999% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-4-desktop {
	0% {
		opacity: 0;
	}
	24.999% {
		opacity: 0;
	}
	27.333% {
		opacity: 1;
	}
	33.333% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-5-desktop {
	0% {
		opacity: 0;
	}
	33.333% {
		opacity: 0;
	}
	35.666% {
		opacity: 1;
	}
	41.666% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-6-desktop {
	0% {
		opacity: 0;
	}
	41.666% {
		opacity: 0;
	}
	43.999% {
		opacity: 1;
	}
	49.999% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-7-desktop {
	0% {
		opacity: 0;
	}
	49.999% {
		opacity: 0;
	}
	52.333% {
		opacity: 1;
	}
	58.333% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-8-desktop {
	0% {
		opacity: 0;
	}
	58.333% {
		opacity: 0;
	}
	60.666% {
		opacity: 1;
	}
	66.666% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-9-desktop {
	0% {
		opacity: 0;
	}
	66.666% {
		opacity: 0;
	}
	68.999% {
		opacity: 1;
	}
	74.999% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-10-desktop {
	0% {
		opacity: 0;
	}
	74.999% {
		opacity: 0;
	}
	77.333% {
		opacity: 1;
	}
	83.333% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-11-desktop {
	0% {
		opacity: 0;
	}
	83.333% {
		opacity: 0;
	}
	85.666% {
		opacity: 1;
	}
	91.666% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes dd-text-12-desktop {
	0% {
		opacity: 0;
	}
	91.666% {
		opacity: 0;
	}
	93.999% {
		opacity: 1;
	}
	99.666% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

//Animation for 14 elements
//---
//--
//-

@keyframes qb-text-1 {
	0% {
		opacity: 1;
	}
	6.2% {
		opacity: 1;
	}
	7.2% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-2 {
	0% {
		opacity: 0;
	}
	6.2% {
		opacity: 0;
	}
	7.2% {
		opacity: 1;
	}
	13.4% {
		opacity: 1;
	}
	14.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-3 {
	0% {
		opacity: 0;
	}
	13.4% {
		opacity: 0;
	}
	14.4% {
		opacity: 1;
	}
	20.6% {
		opacity: 1;
	}
	21.6% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-4 {
	0% {
		opacity: 0;
	}
	20.6% {
		opacity: 0;
	}
	21.6% {
		opacity: 1;
	}
	27.8% {
		opacity: 1;
	}
	28.8% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-5 {
	0% {
		opacity: 0;
	}
	27.8% {
		opacity: 0;
	}
	28.8% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	36% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-6 {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	36% {
		opacity: 1;
	}
	42.2% {
		opacity: 1;
	}
	43.2% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-7 {
	0% {
		opacity: 0;
	}
	42.2% {
		opacity: 0;
	}
	43.2% {
		opacity: 1;
	}
	49.4% {
		opacity: 1;
	}
	50.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-8 {
	0% {
		opacity: 0;
	}
	49.4% {
		opacity: 0;
	}
	50.4% {
		opacity: 1;
	}
	56.6% {
		opacity: 1;
	}
	57.6% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-9 {
	0% {
		opacity: 0;
	}
	56.6% {
		opacity: 0;
	}
	57.6% {
		opacity: 1;
	}
	63.8% {
		opacity: 1;
	}
	64.8% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-10 {
	0% {
		opacity: 0;
	}
	63.8% {
		opacity: 0;
	}
	64.8% {
		opacity: 1;
	}
	71% {
		opacity: 1;
	}
	72% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-11 {
	0% {
		opacity: 0;
	}
	71% {
		opacity: 0;
	}
	72% {
		opacity: 1;
	}
	78.2% {
		opacity: 1;
	}
	79.2% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-12 {
	0% {
		opacity: 0;
	}
	78.2% {
		opacity: 0;
	}
	79.2% {
		opacity: 1;
	}
	84.4% {
		opacity: 1;
	}
	85.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-13 {
	0% {
		opacity: 0;
	}
	84.4% {
		opacity: 0;
	}
	85.4% {
		opacity: 1;
	}
	91.6% {
		opacity: 1;
	}
	92.6% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-14 {
	0% {
		opacity: 0;
	}
	91.6% {
		opacity: 0;
	}
	92.6% {
		opacity: 1;
	}
	98.8% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes qb-text-1-desktop {
	0% {
		opacity: 1;
	}
	6.2% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-2-desktop {
	0% {
		opacity: 0;
	}
	6.2% {
		opacity: 0;
	}
	7.2% {
		opacity: 1;
	}
	13.4% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-3-desktop {
	0% {
		opacity: 0;
	}
	13.4% {
		opacity: 0;
	}
	14.4% {
		opacity: 1;
	}
	20.6% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-4-desktop {
	0% {
		opacity: 0;
	}
	20.6% {
		opacity: 0;
	}
	21.6% {
		opacity: 1;
	}
	27.8% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-5-desktop {
	0% {
		opacity: 0;
	}
	27.8% {
		opacity: 0;
	}
	28.8% {
		opacity: 1;
	}
	35% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-6-desktop {
	0% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	36% {
		opacity: 1;
	}
	42.2% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-7-desktop {
	0% {
		opacity: 0;
	}
	42.2% {
		opacity: 0;
	}
	43.2% {
		opacity: 1;
	}
	49.4% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-8-desktop {
	0% {
		opacity: 0;
	}
	49.4% {
		opacity: 0;
	}
	50.4% {
		opacity: 1;
	}
	56.6% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-9-desktop {
	0% {
		opacity: 0;
	}
	56.6% {
		opacity: 0;
	}
	57.6% {
		opacity: 1;
	}
	63.8% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-10-desktop {
	0% {
		opacity: 0;
	}
	63.8% {
		opacity: 0;
	}
	64.8% {
		opacity: 1;
	}
	71% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-11-desktop {
	0% {
		opacity: 0;
	}
	71% {
		opacity: 0;
	}
	72% {
		opacity: 1;
	}
	78.2% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-12-desktop {
	0% {
		opacity: 0;
	}
	78.2% {
		opacity: 0;
	}
	79.2% {
		opacity: 1;
	}
	84.4% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-13-desktop {
	0% {
		opacity: 0;
	}
	84.4% {
		opacity: 0;
	}
	85.4% {
		opacity: 1;
	}
	91.6% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes qb-text-14-desktop {
	0% {
		opacity: 0;
	}
	91.6% {
		opacity: 0;
	}
	92.6% {
		opacity: 1;
	}
	98.8% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}